# fly.toml app configuration file generated for quantum-knowledge-guard-2026 on 2026-02-13T19:17:37Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'quantum-knowledge-guard-2026'
primary_region = 'ams'

[build]
  [build.args]
    NEXT_PUBLIC_EXAMPLE = 'Value goes here'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
